{% extends 'base.html' %}
{% block head %}<link rel="stylesheet" href="{{ url_for('static',filename='home.css') }}">{% endblock %}
{% block title %}Home{% endblock %}
{% block content %}



<div class="ContentMake">
    <a href={{url_for('new_post')}} class="CP">Create New Post</a>
</div>

<div class="row">
    <div class="leftcolumn">
    {% for post in posts %}
      <div class="card">
        <h2>{{post.title}}</h2>
       
        <p>{%for tag in post.id_labeled%} {{tag.name}}{%endfor%}</p>

        <p>{{post.desc}}</p>
      

      </div>

    {% endfor %}
    </div>
</div>
{% endblock %}